<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .reg{
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            border-radius: 4px;
            width: 40%;
            align-items: center;
            justify-content: center;
            margin: 45px auto;
            padding: 15px 15px;
        }
        .head{
            display: flex;
            flex-direction:row;
            width: 40%;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 5px 5px;
        }
        img{
            width: 35px;
            height: 35px;
            filter: invert(0);
        }
        h2{
            margin-block-start: 0em;
            margin-block-end: 0em;
        }
        .form input{
            width: 97%;
            padding: 5px 5px;
            margin: 5px 0px;
        }
        #reg{
            width: 100%;
            padding: 5px 5px;
            margin: 5px 0px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid brown;
            color: white;
            background-color: rgb(231, 97, 97);
        }
        #reg:hover{
            background-color: red;
        }
        #log{
            text-decoration: none;
            color: rgb(231, 97, 97);
        }
        .now{
            margin: 10px 10px;
        }
    </style>
</head>
<body>
    <div class="reg">
        <div class="head">
            <img src="../static/signin.jpg">
            <h2>Register</h2>
        </div>
        <%- include("./partials/messages.ejs"); -%>
        <form action="/register" method="POST">
            <div class="form">
                <label for="username">Username:</label>
                <input type="text" placeholder="Enter your Username" name="user">
                <label for="email">Email:</label>
                <input type="text" placeholder="Enter your Email" name="email">
                <label for="password">Password:</label>
                <input type="password" placeholder="Enter your Password" name="pass">
                <label for="password">Confirm Password:</label>
                <input type="password" placeholder="Re-Enter your Password" name="repass">
                <input type="submit" value="Register" id="reg">
            </div>
        </form>
        <div class="now">
            Have an Account?<a href="/login" id="log">Login</a>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</html>