<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
       include ../static/styling.css
</head>

<body>
    <div class="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Sponsers</a></li>
            <li><a href="/">Contact Us</a></li>
        </ul>
    </div>
    <div class="register">
        <h1>#{content}</h1>
        <form action="/" method="post" id="contact">
        <div class="form">   
            <input type="text" name="name" id="name" placeholder="Write your name">
            <input type="text" name="gender" id="gender" placeholder="Write your gender">
            <input type="text" name="email" id="email" placeholder="Write your email">
            <textarea placeholder="Enter your address" name="address"></textarea>
            <textarea placeholder="Write something about you" name="about"></textarea>
            <input type="submit" name="submit" id="name" value="Submit Now">
        </div></form>
    </div>
</body>

</html>