html
head
    title Raghav Dance Academy
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Dosis&display=swap")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,500&family=Inria+Sans:wght@300&display=swap")
    block style
body
    div(class='nav')
        div(class='logo')
            img(src="/static/54.png")
            h4  JDA
        ul
           a(href='/')
               li Home
           a(href='/')
               li About
           a(href='/')
               li Services
           a(href='/')
               li Class Info.
           a(href='/contact')
               li Contact Us
    block content
    footer
        p   This is a fake Website. No rights Reserved and no Copyrights © Claimed. 