*{
    margin: 0px;
}
body{
    font-family: 'Dosis', sans-serif;
    margin: 0px;
    font-size: 21px;
}
.logo{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-right: 36px;
}
.logo img {
    width: 50px;
    margin: auto;
    height: 60px;
    padding: 0px 10px;
    filter: invert(100%);
}
h4{
    margin-block-start: 0em;
    margin-block-end: 0em;
    height: 25px;
    width: 40px;
    color: lightgoldenrodyellow;
    margin: auto;
}
.nav{
    display: flex;
    flex-direction: row;
    align-content: center;
    background-color: red;
    font-family: 'Dosis', sans-serif;
}

.nav ul{
    display: flex;
    flex-direction: row;
    margin-block-start: 0em;
    padding-inline-start: 0px;
    margin-block-end: 0em;
    
}
.nav ul li{
    list-style: none;
    padding: 23px 23px;
}
.nav ul a{
    color: lightgoldenrodyellow;
    text-decoration: none;
}
.nav ul a:hover{
    color: black;
    text-shadow: 0.5px 0.5px 0.5px rgb(255, 255, 255);
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 83%;
}
.contactheading{
    font-weight: bold;
    display: inline-block;
    margin-top: 25px;
    font-family: 'Fira Sans', sans-serif;
}
form{
    display: inline-block;
    margin-block-end: 0em;
    width: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form input{
    width: 43%;
    padding: 6px 5px;
    margin: 4px 0px;
    border-radius: 8px;
    border: 1px solid black;
    font-family: 'Fira Sans', sans-serif;
}
.form .btn{
    padding: 7px 13px;
    margin: 6px 5px;
    background-color: red;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    font-size: 14px;
    color: white;
    height: 30px;
}
footer p{
    height: 16px;
}
