<nav class="navbar top navbar-expand-lg navbar-dark bg-primary" style="height: 10vh">
    <div class="container-fluid" style="display: flex; align-items: center; justify-content: center;">
      <span class="navbar-brand mb-0 h1">Movie Central</span>
      <i class="fa-solid fa-clapperboard"></i>
      </svg>
    </div>
</nav>
