<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-primary" style="height: 10vh;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto position-absolute top-50 start-50 translate-middle ">
          <li class="nav-item">
            <a class="nav-link h4" style="padding: 1rem 3rem;" href="/home">Home <i class="fa-solid fa-house-user"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link h4" style="padding: 1rem 3rem;" href="/watchlists">My Lists <i class="fa-solid fa-list"></i></a>
          </li>
          <li class="nav-item">
            <a href="/users/logout" class="nav-link h4" style="padding: 1rem 3rem;">Logout <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
          </li>
      </div>
    </div>
</nav>